<!-- Contact Section -->
<section class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-4 py-5 px-4 px-md-5 text-center">
            <div class="mb-5">
                <div class="feature text-white rounded-3 mb-3" style="background: #3C3C3C;">
                    <i class="bi bi-envelope"></i>
                </div>
                <h1 class="fw-bolder" style="color: #3C3C3C;">Restons en contact</h1>
                <p class="lead fw-normal mb-0" style="color: #3C3C3C;">Suivez-nous sur les réseaux sociaux !</p>
            </div>
            <!-- Social Media Icons -->
            <div class="d-flex justify-content-center fs-2 gap-4">
                <a style="color: #3C3C3C;" href="https://wa.me/22891548096" target="_blank" aria-label="WhatsApp">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <a style="color: #3C3C3C;" href="https://www.tiktok.com/@artwork_by_vikah?_t=ZM-8tHDmSPtJ3e&_r=1" target="_blank" aria-label="TikTok">
                    <i class="bi bi-tiktok"></i>
                </a>
                <a style="color: #3C3C3C;" href="https://www.instagram.com/vikah_artwork/profilecard/?igsh=MWM3cnYzcnJ2ZW5icA==" target="_blank" aria-label="Instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a style="color: #3C3C3C;" href="https://www.facebook.com/share/18H5LivVy9/?mibextid=LQQJ4d" target="_blank" aria-label="Facebook">
                    <i class="bi bi-facebook"></i>
                </a>
            </div>
        </div>
    </div>
</section>
