<!-- Contact Section -->
<section class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-4 py-5 px-4 px-md-5 text-center">
            <div class="mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3">
                    <i class="bi bi-envelope"></i>
                </div>
                <h1 class="fw-bolder">Restons en contact</h1>
                <p class="lead fw-normal text-muted mb-0">Suivez-nous sur les réseaux sociaux !</p>
            </div>
            <!-- Social Media Icons -->
            <div class="d-flex justify-content-center fs-2 gap-4">
                <a class="text-gradient" href="https://wa.me/22891548096" target="_blank" aria-label="WhatsApp">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <a class="text-gradient" href="https://www.tiktok.com/@user" target="_blank" aria-label="TikTok">
                    <i class="bi bi-tiktok"></i>
                </a>
                <a class="text-gradient" href="https://www.instagram.com/vikah_artwork/profilecard/?igsh=MWM3cnYzcnJ2ZW5icA==" target="_blank" aria-label="Instagram">
                    <i class="bi bi-instagram"></i>
                </a>
                <a class="text-gradient" href="https://www.facebook.com/share/18H5LivVy9/?mibextid=LQQJ4d" target="_blank" aria-label="Facebook">
                    <i class="bi bi-facebook"></i>
                </a>
            </div>
        </div>
    </div>
</section>
