<!-- Page Content-->
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0">
            <span class="d-inline" style="color: #3C3C3C;">Catalogue</span>
        </h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section>
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0"></h2>
                </div>

                <!-- Experience Card 1-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <img class="profile-img" src="assets/panneau d'affichage.jpg"
                                    alt="Panneau d'affichage" />
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <h1 class="text-dark">PANNEAU D'AFFICHAGE</h1>
                                    <h3 class="text-dark">5000FCFA</h3>
                                    <p>ARTW2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Experience Card 2-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <img class="profile-img" src="assets/spot publicitaire.jpg" alt="Spot publicitaire" />
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <h1 class="text-dark">SPOT PUBLICITAIRE</h1>
                                    <h3 class="text-dark">5000FCFA</h3>
                                    <p>ARTW2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Experience Card 3-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <img class="profile-img" src="assets/flyers.jpg" alt="Flyers" />
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <h1 class="text-dark">FLYERS</h1>
                                    <h3 class="text-dark">5000FCFA</h3>
                                    <p>ARTW2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Experience Card 4-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <img class="profile-img" src="assets/artwork illustration.jpg"
                                    alt="Artwork illustration" />
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <h1 class="text-dark">ARTWORK ILLUSTRATION</h1>
                                    <h3 class="text-dark">5000FCFA</h3>
                                    <p>ARTW2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Experience Card 5-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <img class="profile-img" src="assets/kakemono.jpg" alt="Kakemono" />
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <h1 class="text-dark">KAKEMONO</h1>
                                    <h3 class="text-dark">5000FCFA</h3>
                                    <p>ARTW2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Experience Card 6-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <img class="profile-img" src="assets/logo.jpg" alt="Logo" />
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <h1 class="text-dark">LOGO</h1>
                                    <h3 class="text-dark">5000FCFA</h3>
                                    <p>ARTW2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Experience Card 7-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <img class="profile-img" src="assets/affiche commercial.jpg" alt="Affiche commercial" />
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <h1 class="text-dark">AFFICHE COMMERCIAL</h1>
                                    <h3 class="text-dark">5000FCFA</h3>
                                    <p>ARTW2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Experience Card 8-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <img class="profile-img" src="assets/covers.jpg" alt="Covers" />
                            </div>
                            <div class="col-lg-8">
                                <div>
                                    <h1 class="text-dark">COVERS</h1>
                                    <h3 class="text-dark">5000FCFA</h3>
                                    <p>ARTW2024</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Contact Section-->
            <section>
                <div class="d-flex justify-content-center fs-2 gap-4">
                    <button>
                        <a class="d-inline" href="https://wa.me/22891548096" target="_blank"
                            style="color: #3C3C3C; text-decoration: none;">
                            <i class="bi bi-whatsapp">Demander des services</i>
                        </a>
                    </button>
                </div>

            </section>
        </div>
    </div>
</div>